/* Font */

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles */
body
{
    background-color: rgba(245, 248, 255, 1);
}
.max-width
{
    max-width: 1240px;
    margin: 0 auto;
}
/* color */
.navy
{
    color: rgba(37, 36, 50, 1);
}
.black
{
   color: rgba(0, 0, 0, 1);
}
.light-grey
{
    color: rgba(137, 135, 161, 1);
}
.orange
{
    color: rgba(233, 90, 8, 1);
}
.black-grey
{
    color: rgba(0, 0, 0, 0.5);
}
.white
{
    color: rgba(255, 255, 255, 1);
}

/* header section */
.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    /* margin-left: 50px; */
}
.main-menu ul
{
    display: flex;
}
.main-menu ul li
{
    list-style: none;
    margin-right: 30px;
}
.main-menu ul li a
{
    text-decoration: none;
    color: black;
}
/* Banner-section */
.banner
{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin-top: 100px;
}
/* .banner-content{
    justify-content: end;
} */
.banner-content h2
{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description
{
    font-size: 1.25rem;
}
/* Our plants section */
.our-plant
{
    text-align: center;
    margin: 50px;
}
.card-section
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   
}
.card{
  margin-bottom: 30px; 
  text-align: center; 
  gap: 20px;
}
.btn-primary
{
    padding: 10px 15px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    border: none;
    width: calc(100% - 20px);
}
.our-plant h2
{
    font-size: 3rem;
    font-weight: bold;
}
.our-plant p
{
    font-size: 1.25rem;
}
.card h4{
    font-size: 1.25rem;
    color: rgba(17, 17, 17, 1);
}
.card p
{
    font-size: 1.25rem;
    font-weight: bold;
}
/* plant lover section */

.plant-lover
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}
.plant-badge
{
    height: 280px;
    width: 280px;
    position: absolute;
    z-index: +2;
    margin-left: 340px;
    margin-top: -120px;
}
.plant-store
{
    height: 600px;
    width: 500px;
}
/* .plant-description
{
    padding-left: 60px;
} */
.plant-description h3
{
    font-size: 3.25rem;
    font-weight: bold;
}
.plant-description ul li p
{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.5);
}
/* Latest Deal Cover */
.deal-section
{
    margin-bottom: 100px;
}
.deal-content
{
    text-align: center;
    margin-bottom: 100px;
}
.deal-title
{
    font-size: 3.25rem;
    font-weight: bold;
}
.deal-description
{
    font-size: 1.25rem;

}
.deal-card-container
{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 200px);
    gap: 20px;

}
.card-box
{
    position: relative;
    overflow: hidden;
    border-radius: 22px;
}

.card-box img
{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: fill;
    filter: brightness(50%);
}
.right-box
{
    height: 100%;
    grid-row: span 2;
} 
.card-box-text
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.left-title
{
    font-size: 1.25rem;
    font-weight: bold;
}
.right-title
{
    font-size: 2.5rem;
    font-weight: bold;
}
.card-box-text a
{
    color: white;
    font-weight: 600;
    text-decoration: underline;
    font-size: 1.25rem;
    background-color: transparent;
}
/* Join the bench section */
.btn-primary-2
{
    padding: 10px 15px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    border: none;
    cursor: pointer;
}
.email-section
{
    text-align: center;
}
.email-sections
{
    position: relative;
    
}
.email-sections img
{
    width: 100%;
    display: block;
}
.text-email
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.input-group
{
    display: flex;
}
.input-group input
{
    width:800px;
    height:40px;
}
.text-email h2
{
    font-size: 3.25rem;
    font-weight: bold;
}